@use "sass:list";

$orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$deep-cyan: hsl(179, 100%, 13%);

$colors: $orange, $dark-cyan, $deep-cyan;

$p-white: hsla(0, 0%, 100%, 0.75);
$off-white: hsl(0, 0%, 95%);

$border-rad: 0.5rem;

* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
    margin: 0;

    font: 400 15px "Lexend Deca",sans-serif;
    line-height: 1.55rem;
    color: $p-white;

    background-color: $off-white;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-radius: $border-rad;
    overflow: hidden;
}

h1 {
    font: 700 2.7rem "Big Shoulders Display",sans-serif;
    color: $off-white;
}

@for $i from 1 through length($colors) {
    $color: nth($colors, $i);
    section:nth-child(#{$i}) {
        background-color: $color;

        button {
            color: $color;

            &:hover {
                background-color: $color;
            }
        }
    }
}

img {
    max-width: 5rem;
}

section {
    height: 60vh;
    width: 20vw;
    padding: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

    button {
        border: none;
        border-radius: 3vh;
        height: 6vh;
        width: 75%;

        transition: background-color 0.2s ease-out;

        font-size: 0.9rem;
        background-color: $off-white;

        &:hover {
            color: $off-white;
            border: 2px $off-white solid;
        }
    }
}

#attribution {
    position: absolute;
    bottom: 0;
    color: black;
}