@use "sass:list";

$orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$deep-cyan: hsl(179, 100%, 13%);

$colors: $orange, $dark-cyan, $deep-cyan;

$p-white: hsla(0, 0%, 100%, 0.75);
$off-white: hsl(0, 0%, 95%);

$border-rad: 0.5rem;

* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
    margin: 0;
    position: relative;

    font: 400 15px "Lexend Deca",sans-serif;
    line-height: 1.55rem;
    color: $p-white;

    background-color: $off-white;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-radius: $border-rad;
    overflow: hidden;

    height: clamp(400px, 60vh, 1000px);
    width: clamp(800px, 60vw, 1200px);
}

// Cycles through the 3 colors, and assign them to its appropriate section and button.
// SCSS rocks!
@for $i from 1 through length($colors) {
    $color: nth($colors, $i);
    section:nth-child(#{$i}) {
        background-color: $color;

        button {
            color: $color;

            &:hover {
                background-color: $color;
            }
        }
    }
}

img {
    max-width: 5rem;
}

section {
    padding: 2.7vmax;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

    h1 {
        font: 700 2.7rem "Big Shoulders Display",sans-serif;
        color: $off-white;
        $vertical-margin: 4vh;
        margin: $vertical-margin 0;
    }
    
    p {
        margin: 0;
    }

    button {
        --button-height: 6vh;
        height: var(--button-height);
        width: 75%;
        margin-top: auto;

        transition: background-color 0.2s ease-out;

        font-size: 0.9rem;
        background-color: $off-white;

        border: none;
        // To make rounded ends, the border radius must be half of height.
        // calc() is used here because CSS variable is incompatible with SCSS calculation
        border-radius: calc(var(--button-height) / 2);

        &:hover {
            color: $off-white;
            border: 2px $off-white solid;
        }
    }
}

#attribution {
    position: absolute;
    bottom: 0;
    color: black;
}

@media only screen and (max-width: 500px) {
    body {
        height: 210vh;
    }

    main {
        flex-direction: column;
        width: clamp(260px, 88vw, 350px);
        height: clamp(1100px, 88%, 2000px);
    }

    section {
        padding: 5vh 14vw;

        h1 {
            margin: 0;
        }

        button {
            margin: 0;
            --button-height: 7vh;
            width: 65%;
        }
    }
}